---
interface Props {
	title: string;
}

const { title } = Astro.props;


import 'bootstrap/dist/css/bootstrap.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<!-- derechos -->
		<meta name="author" content="Davinson Andres Vanegas Tabares" />
		<meta name="copyright" content="Davinson Andres Vanegas Tabares" />

		<!-- Primary Meta Tags -->
		<meta name="title" content={title} />
		<meta name="description" content="">
		<meta name="keywords" content="Desarrollo, software, diseño, front-end, back-end, full-stack, node.js, js, php, sql, mysql, desarrollador barato, portafolio web,developer, freelance, ti, it">


		<title>{title}</title>

		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	  
		<!-- link de icons bootstrap-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">


		<!-- SEO -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<meta name="theme-color" content="#000000" />

		<meta name="robots" content="index,follow"/>
		<meta http-equiv="cache-control" content="no-cache"/>
		<meta http-equiv="expires" content="43200"/>
	
		<!-- Open Graph / Facebook -->
		<meta property="og:locale" content="es_ES" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://portafolio-dv.netlify.app" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content="Portafolio personal, desarrollado para ofrecer mis servicios y divulgar los ultimos proyectos tabajados" />
		<meta property="og:image" content="" />
	
		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content="Portafolio personal, desarrollado para ofrecer mis servicios y divulgar los ultimos proyectos tabajados" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:image:alt" content={title} />
		<meta name="twitter:site" content="@dev.vanegas" />
		<meta name="twitter:creator" content="@dev.vanegas" />

		<!-- Brevo Conversations {literal} -->
		<script src="../chat.js"></script>
		<!-- /Brevo Conversations {/literal} -->
	  
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
	--bgNegro: rgb(19, 19, 19);
	--sombra: rgb(27, 27, 27);
	--azulP: #009dc4;
	--white: #fff;
	}

	.focus-in-expand {
	animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	}

	.slide-in-right {
	animation: slide-in-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	}

	.slide-in-fwd-bottom {
	animation: slide-in-fwd-bottom 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate both;
	}

	* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;
	}

	.inactive {
	display: none !important;
	}

	html {
	font-family: 62.5%;
	}
	html::-webkit-scrollbar {
	/* barra scrollbar */
	background-color: transparent;
	width: 8px;
	}
	html::-webkit-scrollbar-thumb {
	/* boton scrollbar en movimiento */
	background-color: var(--azulP);
	border-radius: 20px;
	}

	body {
	color: var(--white);
	background-color: var(--bgNegro);
	}

	@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateY(-800px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-bottom {
  0% {
    transform: translateZ(-400px) translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
</style>
